.header {
    font-family: arial;
    font-weight: bold;
    font-style: italic;
    width: 520px;
    line-height: 20px;
    font-size: 20px;
    /* margin-bottom: 13px; */
}

.whatdo {
    font-family: airal;
    font-size: 15px;
    color: gray;
    margin: 18px 0px 18px 0px;
}

.user {
    font-family: arial;
    font-style: italic;
    font-size: 13px;
    /* color: gray */
    font-weight: bold;
    transition: color 0.6s;
}

.user:hover {
    cursor: pointer;
}

.user:active {
    color: gray
}

.whatcan {
    width: 480px;
    line-height: 20px;
    /* color: gray; */
}

.mail {
    color: white;
    background-color: black;
    /* width:; */
    text-align: center;
    margin: 25px 0px 0px 0px;
    /* text-decoration: underline; */
}

.mail:hover {}

.span {
    /* color: black; */
    margin-left: 15px;
}
.span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.span:active{
    opacity: 0.6;
}
.link{
    color: white;
}
.material-icons{
    vertical-align: bottom;
}